/* GENERAL RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************/
/*** GENERAL  ***/
/****************/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

p {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

h1, h2, h3 {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Kalam', cursive;
    letter-spacing: 1.2px;
}

h2 {
    font-size: 28px;
}


/**********************/
/*** HEADER WEBSITE ***/
/**********************/


.nav-link {
    font-size: 1.2rem;
    letter-spacing: 1.1px;
}

#navbarNav a:hover {
   color: red;
   transition: 0.3s;
}

@media (min-width: 992px) {
    .icons-div {
        padding-left: 2rem;
    }
}
.icons {
    width: 32px;
}

#logo {
    width: 95px;
    cursor: pointer;
}


/********************/
/*** HOMEPAGE NAV ***/
/********************/

.homepage-nav-link {
    color: white;
}


/*********************/
/*** CONTACT PAGE  ***/
/*********************/


/* input:invalid {
    border: 1px solid red;
} */

input:valid {
    border-bottom: 1px solid green;
}

input {
    outline: none;
}

.contact-container { 
    padding: 3rem 2rem;
    -webkit-box-shadow: 1px 1px 5px -2px #000000; 
    box-shadow: 1px 1px 5px -2px #000000;
}

.contact-image {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .contact-image {
        width: 45%;       
        position: fixed;
        bottom: 0;
    }
}

.contact-container , .contact-image-container {
  margin-top: 120px;
}

@media (min-width: 1040px) {
    .contact-image-container {
        position: absolute;
        right: 0;
    }
}

#my-form-button {
    background-color: white;
    border: solid 1px black;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0.7rem 1.2rem;
    border-radius: 4px;
}

#my-form-button:hover {
    background-color: black;
    color: white;
    border: solid 1px black;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0.7rem 1.2rem;
    transition: 0.4s;
}


/*********************/
/*** PAGE ACCUEIL  ***/
/*********************/

.home-title {
     color: white;
     font-size: clamp(2rem, 5.5vw, 10rem);
     font-weight: 600;
     /* line-height: 4rem; */
}

.home-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     min-height:100vh;
}

.welcome {
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url('/images/home.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/***************/
/*** FOOTER  ***/
/***************/

.footer-website  {
    /* position: fixed;
    bottom: 0px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-homepage  {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}




/****************/
/*** GALLERY  ***/
/****************/




.sub-title {
    background-color: rgba(238, 255, 0, 0.274);
    text-transform: uppercase;
    padding: 2px 12px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

    /* Structure de la galerie */

.gallery{
    width: 100%;
    display: block;
    /* min-height: 80vh; */
    background-color: #ffffff;
    padding: 100px 0;
    height: 100%;
 }
 
 .conteneur{
     max-width: 1240px;
     margin:auto;
     margin-top: 5rem;
 }

    /* Barre de navigation de la galerie */

 .gallery .gallery-filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
 }
 .gallery .gallery-filter .filter-item{
    color: #0e0e0e;
    font-size: 17px;
    border: 2px solid rgb(0, 0, 0);
    text-transform: uppercase;
    display: inline-block;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    line-height: 1.2;
    transition: all 0.3s ease;
 }

 .gallery .gallery-filter .filter-item.active{
    color: red;
    border-color : red;
    background: white;
  }

 .gallery .gallery-filter .filter-item:hover{
    color: #ff0000;
 }

    /* Design des images */

 .gallery .gallery-item{
    width: calc(100% / 3);
    padding: 15px;

}
.gallery .gallery-item-inner img{
    width: 100%;
    border: 3px solid #d4dad9;
}

.gallery .gallery-item.show{
    animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.gallery .gallery-item.hide{
    display: none;
}

    /* Responsive */

    @media(max-width: 491px){
        .gallery .gallery-item{
            width: 50%;
        }
    }
    @media(max-width: 667px){
        .gallery .gallery-item{
            width: 100%;
        }
        .gallery .gallery-filter .filter-item{
            margin-bottom: 10px;
        }
    }

    
/***********************************/
/*** BOUTON RETOUR VERS LE HAUT  ***/
/***********************************/

    

#btn-back-to-the-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  